<!-- 	justify-* → 並びの向き（メイン軸）で揃える,items-* → 並びの直交方向（交差軸）で揃える -->
<div class="flex flex-col items-center justify-between min-h-screen">
  <h1 class="mt-20">
    <%# ロゴのサイズをTailwind CSSで直接指定します %>
    <%= image_tag "/images/logo.png", alt: "Sketto", class: "w-48 md:w-64" %>
  </h1>

  <div id="splide" class="splide w-full max-w-md">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide"><%= image_tag "intro_page1.png" %></li>
        <li class="splide__slide"><%= image_tag "intro_page2.png" %></li>
        <li class="splide__slide"><%= image_tag "intro_page3.png" %></li>
      </ul>
    </div>
  </div>

  <div class="flex flex-col items-center space-y-6 mb-15">
    <%= link_to new_route_path do %>
      <%= image_tag "/images/top_button1.png", alt: "topButton1", class: "w-64 md:w-72 transition-transform duration-300 hover:scale-110" %>
    <% end %>
    <% unless user_signed_in? %>
      <%= link_to new_user_session_path do %>
        <%= image_tag "/images/top_button2.png", alt: "topButton2", class: "w-64 md:w-72 transition-transform duration-300 hover:scale-110" %>
      <% end %>
    <% end %>
  </div>
</div>
