<div class="flex flex-col items-center justify-center min-h-screen -m-8">  
  <h1 class ="-mt-5">
    <%= image_tag "/images/logo.png",alt: "Sketto", class:"w-64 md:w-80" %>
  </h1>

  <div class="cute-title">
    <div>パスワード再設定用のメールを送信します。<br /></div>
    <div>登録済みのメールアドレスを入力してください。</div>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-20">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-0 border-b-2 border-[#6D4808] focus:border-[#6D4808] outline-none w-2/3 py-1 bg-[#FFEFE2]" %>
    </div>

    <div class="actions mt-10">
      <button type="submit" class="cursor-pointer transition-transform duration-300 hover:scale-110 appearance-none bg-transparent border-none">
        <%= image_tag "send_mail.png",
          alt: "メール送信",
          class:  "w-64 md:w-72" %>
      </button>
    </div>
  <% end %>
</div>
