<!-- padding: 内側余白、space-y-*: 子要素の間に縦方向(y軸)の間隔 -->
<div class="flex space-y-1 -mt-2">
  <!-- flex: 子要素が横並びになる、items-center: 上下中央寄せ、justify-between: 最初の要素は左端、最後の要素は右端に寄せられる -->

  <div class="flex items-center">
    <%= image_tag "/images/route_logo.png",alt: "route_logo", class: "h-10" %> 
    <h1 class="cute-title" style="font-size: 2rem;">ルート作成</h1>

    <%# 'mode'ローカル変数に応じて表示を切り替える %>
    <% if defined?(mode) && mode == :walk %>
      <%= link_to car_routes_path do %>
        <%= image_tag "/images/go_walk.png", alt: "go_walk", class: "btn_effect h-20" %>
      <% end %>
    <% else %>
      <%= link_to walk_routes_path do %>
        <%= image_tag "/images/go_to_car.png",alt: "go_to_car", class: "btn_effect h-20" %>
      <% end %>
    <% end %>
    <button id="saved_location" class="appearance-none bg-transparent border-none p-0 m-0 mr-[-1rem]">
      <%= image_tag "/images/saved_location.png", alt: "saved_location", class: "btn_effect h-10 -mt-1" %>
    </button>
  </div>
</div> 