<div class="container cute-title mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-4"><%= @save_route.name %>を編集</h1>

  <div class="mb-4 text-sm text-gray-600">
    登録日: <%= @save_route.created_at.strftime('%Y年%m月%d日') %>
  </div>

  <%= form_with(model: @save_route) do |form| %>
    <% if @save_route.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @save_route.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="card bg-base-200 shadow-xl">
      <div class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">ルートの名前</span>
          </label>
          <%= form.text_field :name, class: "input input-bordered", required: true %>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">実行する日</span>
          </label>
          <%= form.date_field :execution_date, class: "input input-bordered" %>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-6 gap-2">
      <%= link_to save_route_path(@save_route), class: "nav-link" do %>
        <img src="/images/return_map.png" alt="return" class="h-17">
      <% end %>

      <%= form.button class: "nav-link" do %>
        <%= image_tag "/images/update.png", alt: "update", class: "h-17" %>
      <% end %>
    </div>
  <% end %>
</div>