<div class="container cute-title mx-auto px-4 py-8">
  <div class="flex justify-between items-center md-6">
    <h1 class="text-2xl font-bold"><%= @save_route.name %>の詳細</h1>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">ルートの情報</h2>
      <div class="space-y-2">

        <% if @save_route.execution_date.present? %>
          <p><strong>実行日:</strong> <%= @save_route.execution_date.strftime('%Y年%m月%d日') %></p>
        <% end %>

        <% if @save_route.travel_mode.present? %>
          <p><strong>移動手段:</strong>
            <%= case @save_route.travel_mode
                when 'driving' then '車'
                when 'walking' then '徒歩'
                end %>
          </p>
        <% end %>

        <p><strong>出発点:</strong><%= @save_route.start_point['name'] %></p>

        <% if @save_route.waypoints.present? %>
          <p><strong>経由地:</strong></p>
          <ul class="list-disc list-inside pl-4">
            <% @save_route.waypoints.each do |waypoint| %>
              <li><%= waypoint['name'] %></li>
            <% end %>
          </ul>
        <% end %>

        <p><strong>到着点:</strong><%= @save_route.end_point['name'] %></p>

        <% if @save_route.total_distance.present? %>
          <p><strong>総移動距離:</strong> <%= (@save_route.total_distance / 1000.0).round(2) %> km</p>
        <% end %>

        <% if @save_route.total_duration.present? %>
          <p><strong>所要時間:</strong> <%= (@save_route.total_duration / 60.0).ceil %> 分</p>
        <% end %>

      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center space-x-2">
    <%= link_to '編集', edit_save_route_path(@save_route), class: "btn-warning" %>
    <%= button_to '削除', @save_route, method: :delete, class: "btn btn-sm btn-error", form: { data: { turbo_confirm: '本当に削除しますか？', "barba-prevent": "all" } } %>
    <%= link_to '一覧に戻る', save_routes_path, class: "btn btn-ghost" %>
    <%= button_tag 'すぐ出発する',
      # data属性にルート情報をJSON形式で埋め込む
      # data属性:HTML要素に自由なデータを埋め込み、JavaScriptで使えるようにする仕組み
      id: 'start-navigation-from-saved-route',
      class: 'btn btn-primary',
      data: {
        route: @save_route.to_json(only: [:travel_mode, :start_point, :end_point, :waypoints]),
        car_navi_path: car_navigation_routes_path,
        walk_navi_path: walk_navigation_routes_path
      }
    %>
  </div>
</div>
