<meta name: "turbo-visit-control", content: "reload" >
<div class="flex flex-col items-center justify-center min-h-screen overflow-x-hidden">
  <h1>
    <%= image_tag "/images/logo.png",alt: "Sketto", class:"w-64 md:w-80" %>
  </h1>

  <div class="cute-title">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-0 border-b-2 border-[#6D4808] focus:border-[#6D4808] outline-none w-2/3 py-1 bg-[#FFEFE2]" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border-0 border-b-2 border-[#6D4808] focus:border-[#6D4808] outline-none w-2/3 py-1 bg-[#FFEFE2]" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :"次回からログイン情報を保持する" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit nil, style: "display:none;" %>  <!-- デフォルトボタンは非表示 -->
        <%= image_tag "login_button.png",
          alt: "ログイン",
          class: "w-64 md:w-72 cursor-pointer transition-transform duration-300 hover:scale-110",
          onclick: "this.closest('form').submit();" %>
      </div>

    <% end %>

    <%= button_to user_line_omniauth_authorize_path, method: :post, class: "contents" do %>
      <%= image_tag "line_login_button.png", alt: "LINEでログイン", class: "w-64 md:w-72 transition-transform duration-300 hover:scale-110" %>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
