<body>
  <h1>目的地の選択</h1>
  <input type="text" id="address" placeholder="住所や施設名を入力">
  <button id="searchBtn">検索</button>

  <button id="carDrawRoute">ルート検索</button>

  <button id="searchNearby">周辺の駐車場を探す</button>

  <%= link_to car_navigation_routes_path do %>
    <%= image_tag "/images/startNavi.png", alt: "startNavi", class:"navi_btn" %>
  <% end %>

  <div class="point-selector">
    <button id="startPoint">現在地</button>
    <%= image_tag "/images/arrow.png", alt: "arrow", class: "arrow" %>
    <button id="routeParking"style="display:none;">駐車場</button>
    <%= image_tag "/images/arrow.png", alt: "arrow", class: "arrow" %>
    <button id="destinationPoint">目的地</button>
  </div>

  <button id="currentPosBtnCar">
    <%= image_tag "/images/currentPos.png", alt:"current_pos", class:"current_pos" %>
  </button>

  <div class="flex flex-col items-center mt-20 space-y-6">
    <%= link_to root_path do %>
      <%= image_tag "/images/load_top.png", alt: "load_top",  class: "load_top" %>
    <% end %>
  </div>

  <div id="map"></div>
</body>