<body>
  <h1>目的地の選択</h1>
  <input type="text" id="address" placeholder="住所や施設名を入力">
  <button id="searchBtn">検索</button>

  <button id="walkDrawRoute">ルート検索</button>

  <%= link_to walk_navigation_routes_path, data: { barba: "link" } do %>
    <%= image_tag "/images/startNavi.png", alt: "startNavi", class:"navi_btn" %>
  <% end %>

  <div class="point-selector">
    <button id="startPoint">現在地</button>
    <%= image_tag "/images/arrow.png", alt: "arrow", class: "arrow" %>
    <button id="destinationPoint">目的地</button>
  </div>

  <div class="load_top">
    <%= link_to root_path do %>
      <%= image_tag "/images/load_top.png", alt: "load_top"%>
    <% end %>
  </div>

  <button id="currentPosBtn">
    <%= image_tag "/images/currentPos.png", alt:"current_pos", class:"current_pos" %>
  </button>

  <div id="map"></div>
</body>