<div class="container cute-title mx-auto px-4 py-8">
  <div class="flex justify-between items-center md-6">
    <h1 class="text-2xl font-bold"><%= @location.name %>の詳細</h1>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">場所の情報</h2>
      <div class="space-y-2">

        <%# strongはブラウザに「ここ大事」と伝える %>
        <p><strong>名前:</strong> <%= @location.name %></p>
        <p><strong>住所:</strong> <%= @location.address %></p>
        <p><strong>緯度:</strong> <%= @location.lat %></p>
        <p><strong>経度:</strong> <%= @location.lng %></p>
      </div>
    </div>
  </div>

  <div class="mt-6 flex items-center space-x-2">
    <%= link_to edit_location_path(@location), class: "nav-link" do %>
      <%= image_tag "/images/edit.png", alt: "edit", class: "h-17" %>
    <% end %>

    <%= button_to @location, method: :delete, form: { data: { turbo_confirm: '本当に削除しますか？', "barba-prevent": "all" } }, class: "nav-link" do %>
      <%= image_tag "/images/delete.png", alt: "削除", class: "h-17" %>
    <% end %>

    <%= link_to locations_path, class: "nav-link" do %>
      <%= image_tag "/images/return_map.png", alt: "return_map", class: "h-17" %>
    <% end %> 
  </div>
</div>
