<!DOCTYPE html>
<html>
  <head>
    <title>Sketto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/css/splide.min.css">
    <link rel="stylesheet" href="/assets/builds/application.css" data-turbo-track="reload">
    <script type="module" src="/assets/builds/application.js" data-turbo-track="reload"></script>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="flash_message <%= message_type %>"><%= message %></div>
    <% end %>
    <%# GoogleMapsが呼び出す公式推奨のコールバック関数 %>
    <%# callback=initMapに指定した関数はGoogleMapsApiのロード&初期化が終わってから呼ばれる %>
    <script async defer 
      src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&libraries=places,marker,geometry&callback=onGoogleMapsReady"
      async
      defer
    ></script>
    <%= render 'shared/component/barba_wrapper' do %>
      <link href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap' rel="stylesheet">
      <%= yield %>
    <% end %>
  </body>
</html>
