<!DOCTYPE html>
<html>
  <head>
    <title>Sketto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all", "rel" => "stylesheet" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/component/barba_wrapper' do %>
      <%= yield %>
    <% end %>

    <script async defer 
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places,marker,geometry">
    </script>
  </body>
</html>
