<!DOCTYPE html>
<html>
  <head>
    <title>Sketto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/css/splide.min.css">
    <link rel="stylesheet" href="/assets/builds/application.css" data-turbo-track="reload">
    <script type="module" src="/assets/builds/application.js" data-turbo-track="reload"></script>
    <style>
      .gm-style-iw-ch {
        padding-top: 0 !important;
      }
    </style>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="flash_message <%= message_type %>"><%= message %></div>
    <% end %>
    <%# GoogleMapsが呼び出す公式推奨のコールバック関数 %>
    <%# callback=initMapに指定した関数はGoogleMapsApiのロード&初期化が終わってから呼ばれる %>
    <script async defer 
      src="https://maps.googleapis.com/maps/api/js?key=<%= google_maps_api_key %>&libraries=places,marker,geometry&callback=onGoogleMapsReady"
      async
      defer
    ></script>

    <%= render 'shared/component/barba_wrapper' do %>

      <link href='https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap' rel="stylesheet">
      <%= yield %>
    <% end %>
  </body>

  <template id="info-window-template">
    <div style="min-width:200px;">
        <div class="info-window-facility-name" style="font-weight:bold;font-size:1.1em;margin-bottom:8px;text-align:center;"></div>
        <button class="info-window-route-btn btn btn-sm btn-primary" style="margin-right: 8px;">ルート設定</button>
        <button class="info-window-save-location btn btn-sm btn-secondary">この場所を保存</button>
    </div>
    <ul class="info-window-dropdown-menu bg-base-100 rounded-box p-2 mt-1" hidden>
      <li><button class="info-window-set-start btn btn-sm btn-primary rounded-full">出発地に設定</button></li>
      <li><button class="info-window-set-destination btn btn-sm btn-secondary rounded-full">目的地に設定</button></li>
    </ul>
  </template>
</html>
